/* src/components/Navbar.css */

.navbar {
  background: linear-gradient(to right, #0A0B0B, #696e7a); /* Gradient background */
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect */

}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align:left; /* Center align the navbar items */
}

.navbar ul li {
  display: inline-block;
  margin: 0 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: #f3efef;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 50px;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.navbar ul li a:hover {
  background-color: rgba(227, 219, 219, 0.752); /* Hover effect */
  color: #060606;
}
